body{
  background: black;
  height: 100vh;
  padding: 0;
  overflow: hidden;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: contain;
}

.container{
  text-align: center;
}

.loader
{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	font-size: 15px;
	background: black;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Cousine', monospace;
	color: white;
	padding-top: 27%;

}

.loader span
{
	-webkit-animation: pulsate 1.5s ease-out;
    /*-webkit-animation-iteration-count: infinite; */
    opacity: 0.0;
    top: 50%;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

#player-container {
    margin: 0%;
    z-index: 10000;
    height: 100vh;
    display: -ms-flexbox;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-flex-align: center;
    align-self: flex-start;
    margin-right: 20px;
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 9px;
}

#play-button-container {
    /*position: relative;*/
    display: inline-block;
    overflow: hidden;
    top: 10px;
    z-index: 1000;
}

 #play-button-container svg {
    /*position: relative;
    left: -6px;
    top: 0;
    bottom: 0;
    */
    width: 125px;
    height: 125px;
    -webkit-animation-name: rotate;
    -moz-animation-name: rotate;
    -ms-animation-name: rotate;
    -o-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    -ms-animation-duration: 10s;
    -o-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
svg[Attributes Style] {
    x: 0px;
    y: 0px;
    width: 300px;
    height: 300px;
    fill: rgb(255, 255, 255);
}

svg:not(:root) {
    overflow: hidden;
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
