body{
  background: black;
  height: 100vh;
  padding: 0;
  overflow: hidden;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: contain;
}

.divSpan{
  display: inline-block;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: ##A9A9A9;
}


.container{
  text-align: center;
}


@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

#player-container {
    margin: 0%;
    z-index: 10000;
    display: -ms-flexbox;
    bottom: 0;
    display: inline-block;
    -ms-flex-align: center;
    align-self: flex-start;
    margin-right: 20px;
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 9px;
}

#play-button-container {
    /*position: relative;*/
    display: inline-block;
    overflow: hidden;
    top: 10px;
    z-index: 1000;
}

 #play-button-container svg {
    /*position: relative;
    left: -6px;
    top: 0;
    bottom: 0;
    */
    width: 125px;
    height: 125px;
    -webkit-animation-name: rotate;
    -moz-animation-name: rotate;
    -ms-animation-name: rotate;
    -o-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    -ms-animation-duration: 10s;
    -o-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
svg[Attributes Style] {
    x: 0px;
    y: 0px;
    width: 300px;
    height: 300px;
    fill: rgb(255, 255, 255);
}

svg:not(:root) {
    overflow: hidden;
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
